
/*-----------HEADER-----------*/
.container-header-fruit{
    background-color: #fff;
    height: 541px;
}
.extension{
    background-color: transparent;
    display: flex;
    height: 60px;
    width: 100%;

    position: relative;
    z-index: 2;
    top: -431px;
}
.container-navbar{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    height: 110px;
    position: relative;
    z-index: 2;
}
.logo{
    height: 90px;
}
.nav-bar{
    display: flex;
    align-items: center;
    height: 90px;
}
.nav-bar ul{
    list-style: none;
    display: flex;
    align-items: center;
}
.list-navbar p, .list-navbar a{
    color: var(--primary-color);
    text-decoration: none;
    font-size: 24px;
    outline: none;
    margin-left: 40px;
}
.list-navbar p{
    cursor: pointer;
    user-select: none;
}
.container-products-menu{
    display: flex;
    align-items: center;
}
.container-products-menu i{
    color: var(--primary-color);
    font-size: 24px;
    padding-left: 8px;
    cursor: pointer;
}
.container-products-menu i:hover{
    color: var(--secundary-color);
}
.list-navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.products-list-head{
    visibility: hidden;
    position: absolute;
    top: 70px;
    bottom: 0;
    right: 0;
    left: 665px;
    z-index: 3;
    width: 280px;
}
.products-list-head.active{
    visibility: visible;
}
.subproducts-list{
    display: flex;
    flex-direction: column;;
    background-color: rgb(255, 255, 255, 1);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 280px;
    justify-content: center;
    margin: 5px 0;
}
.subproducts-list a{
    text-decoration: none;
    font-size: 20px;
    list-style: none;
    padding: 10px 0px 10px 40px;
    text-decoration: none;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    
    position: relative;
}
.subproducts-list a:hover{
    color: var(--secundary-color);
}
.subproducts-list li::after{
    content: " ";
    position: absolute;
    background-color: var(--secundary-color);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top: 17px;
    bottom: 0;
    left: 15px;
    right: 0;
}
.logo{
    height: 90px;
}

/*---SECCION1---*/
.fruit{
    display: flex;
    flex-direction: row;
    height: auto;
    align-items: center;
    background-color: #f7f4ee;
}
.fruit-description-img{
    display: flex;
    width: 50%;
}

/*------------------PRODUCTS------------------------*/
.img-desc-goldenberry{
    height: 330px;
    width: 100%;
    background-size: cover;
}
.img-desc-banana{
    height: 426px;
    width: 100%;
}
.img-desc-canesugar, .img-desc-dragonfruit{
    height: 474px;
    width: 100%;
}
.img-desc-cocoa{
    height: 354px;
    width: 100%;
}
.img-desc-mango{
    height: 378px;
    width: 100%;
}
.img-desc-pineapple{
    height: 522px;
    width: 100%;
}
.fruit-description{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 660px;
    background-color: #f7f4ee;
    padding: 30px 30px;
}
.title-fruit{
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.fruandes-departament{
    height: 100%;
    width: auto;
}
.fruit-description-text{
    height: 100%;
}
.fruit-description-text p{
    font-size: 20px;
}
.extension-product{
    display:block;
    margin:auto;
}


/*---SECCION2---*/
.container-community{
    display: flex;
    max-width: 1200px;
    padding: 0;
    margin: 0 auto;
    align-items: center;
}
.sub-left{
    width: 50%;
}
.sub-right{
    width: 50%;
}
.title-community{
    display: flex;
    justify-content: center;
    font-size: 80px;
    color: var(--orange-color);
}
.leader{
    display: flex;
    height: 250px;
}
.leader-cocoa{
    display: flex;
    justify-content: center;
    margin: 10px 0 20px 0;
}
.container-leader-img{
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.container-leader-img-cocoa{
    display: flex;
    justify-content: center;
    align-items: center;
}
.leader-img{
    border-radius: 50%;
    height: 75%;
    display: flex;
    padding-right: 15px;
}
.leader-img-cocoa{
    height: 100%;
    display: flex;
}
.leader-name{
    width: 50%;
    display: flex;
    justify-content: left;
    padding-left: 15px;
    text-align: center;
    align-items: center;
    font-size: 24px;
    color: var(--orange-color);
}
.leader-text{
    padding: 0 15px;
}
.leader-text p{
    font-size: 20px;
}

.text-list{
    width: 100%;
    padding: 30px 15px;
}
.text-list li{
    list-style: none;
    padding: 0 15px 0 20px;
    color: #000;
    font-size: 20px;

    position: relative;
}
/* li::after{
    content: " ";
    position: absolute;
    background-color: var(--orange-color);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top: 7px;
    bottom: 0;
    left: 0;
    right: 0;
} */

/*---VIDEO---*/
.video-fruit{
    display: flex;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
    
    background-color: aqua;
    width: 1000px;
    height: 560px;
}

/*TEXT2*/
.fruit-text2{
    width: 1200px;
    font-size: 20px;
    margin: 0 auto;
    margin-bottom: 60px;
}
.container-imgandtext{
    width: 100%;
    display: flex;
}

.img-title-fruit{
    width: 50%;
}
.img-title-fruit img{
    height: 100%;
    padding-right: 40px;
    float: right;
}
.text-title-fruit{
    width: 50%;
    padding-left: 40px;
    position: relative;
    top: 170px;
    height: 100px;
    color: #fff;
}
.text-title-fruit p{
    position: relative;
    top: 20px;
    font-size: 24px;
}
.text-title-fruit h1{
    font-size: 60px;
}
.header-fruit{
    position: relative;
    z-index: 45;
}