.header{
    display: flex;
    width: auto;
}

.container-message{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-shop{
    background-color: var(--gray-color);
    width: 1000px;
    height: 500px;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    margin: 60px 0;

    padding: 30px 80px;
}
.container-logo-shop{
    display: flex;
    justify-content: center;
}
.container-logo-shop img{
    height: 130px;
}
.container-text-shop{
    height: 305px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.text-shop{
    align-self: center; 
    width: 100%;
}
.text-shop h1{
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
}
.text-shop h3{
    font-size: 24px;
    text-align: center;
    margin: 0;
}
.container-btn{
    margin: 30px auto;
}

@media only screen and (max-width: 1024px){

    .container-shop{
        width: 80%;
        height: auto;
        padding: 30px;
    }
    .container-logo-shop img{
        height: 100px;
    }
    .container-text-shop{
        height: auto;
        margin: 30px 0 0 0;
    }
    .text-shop h1{
        font-size: 40px;
    }
    .text-shop h3{
        font-size: 24px;
    }
    .container-btn{
        margin: 30px 0 0 0;
    }
    .btn-fruandes{
        height: 40px;
        width: 180px;
    }
}