/* LAS CLASES MAS USADAS SE ENCUENTRAN EN VARIABLES.CSS */

/*---------------------HEADER--------------------*/
.container-head{
    background-image: url(../img/fondo1.png);
    background-size: cover;
    height: 100vh;
    position: relative;
}
.container-head::after{ 
    content: '';
    position: absolute;
    background-color: #1d2413;;
    opacity: 0.5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.container-navbar{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    height: 110px;
    position: relative;
    z-index: 2;
}
.logo-header{
    height: 90px;
}
.nav-bar{
    display: flex;
    align-items: center;
    height: 90px;
}
.nav-bar ul{
    list-style: none;
    display: flex;
    align-items: center;
}
.list-navbar p, .list-navbar a{
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    outline: none;
    margin-left: 40px;
}
.list-navbar p{
    cursor: pointer;
    user-select: none;
}
.container-products-menu{
    display: flex;
    align-items: center;
}
.container-products-menu i{
    color: #fff;
    font-size: 24px;
    padding-left: 8px;
    cursor: pointer;
}
.container-products-menu i:hover{
    color: var(--gray-color);
}
.list-navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.products-list{
    visibility: hidden;
    position: relative;
    top: -40px;
    bottom: 0;
    right: 0;
    left: 855px;
    z-index: 3;
    width: 280px;
}
.products-list.active{
    visibility: visible;
}
.subproducts-list{
    display: flex;
    flex-direction: column;;
    background-color: rgb(255, 255, 255, 1);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 280px;
    justify-content: center;
    margin: 5px 0;
}
.subproducts-list a{
    text-decoration: none;
    font-size: 20px;
    list-style: none;
    padding: 10px 0px 10px 40px;
    text-decoration: none;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    
    position: relative;
}
.subproducts-list a:hover{
    color: var(--secundary-color);
}
.subproducts-list li::after{
    content: " ";
    position: absolute;
    background-color: var(--secundary-color);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top: 17px;
    bottom: 0;
    left: 15px;
    right: 0;
}
.container-text-header{
    position: absolute;
    top: 110px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    color: #fff;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title-header{
    width: 700px;
    margin: 0 auto;
}
.title-header h1{
    font-size: 60px;
    text-align: center;
}
.subtext-header{
    padding: 10px 0px;
}
.subtext-header h2{
    font-size: 24px;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

/*--------------WE ARE-----------------*/
.container-weare{
    padding: 30px 0;
    display: flex;
    justify-content: center;
}
.subcontainer-weare{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-img-weare{
    width: 270px;
    display: flex;
    justify-content: start;
}
.img-weare{
    width: 80%;
}
.container-information-weare{
    width: 930px;
}
.information-weare{
    padding: 30px 0;
}
.title-weare{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-weare h1{
    font-size: 60px;
    color: var(--secundary-color);
    margin-right: 12px;
}
.title-weare img{
    height: 130px;
}
.text-weare{
    font-size: 24px;
    padding: 30px 0;
    text-align: center;
}


/*---------------RECOMENDATIONS-----------------*/
.extension{
    background-color: var(--gray-color);
}
.extension-rotated{
    background-color: var(--gray-color);
}
.container-recommendations{
    background-color: var(--gray-color);
    display: flex;
    justify-content: center;
}
.subcontainer-recommendations{
    width: 1200px;
    margin: 30px 0;
}
.title-recommendations{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}
.title-recommendations img{
    margin-right: 10px;
}
.title-recommendations h1{
    font-size: 60px;
    color: var(--primary-color);
}
.container-products-recommends{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-recommend{
    width: 275px;
    height: 400px;
    background-color: #fff;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
}
.product-recommend a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
   transition: opacity .3s ease-in;
}
.product-recommend img{
    width: 255px;
    height: 380px;
    position: absolute;
    transition: opacity .3s ease-in;
}
.product-recommend a .top:hover{
    opacity: 0;
}
.subcontainer-recommendations button{
    margin-top: 30px;
}

/*------------------NEWS-----------*/
.container-news{
    display: flex;
    justify-content: center;
}
.subcontainer-news{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.container-information-news{
    width: 730px;
}
.title-news{
    display: flex;
    align-items: center;
    justify-content: center;
}
.title-news img{
    padding-right: 10px;
}
.title-news h1{
    color: var(--primary-color);
    font-size: 60px;
}
.text-news{
    padding: 30px 0;
}
.text-news p{
    text-align: center;
    font-size: 24px;
}
.container-card-news{
    /* background-color: pink; */
    width: 350px;
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
}
.container-imgcard-news{
    background-color: aqua;
    display: flex;
    width: 100%;
    height: 250px;
}
.imgcard-news{
    width: 100%;
    height: 100%;
}
.container-textcard-news{
    padding-top: 2px;
}
.title-card-news h4{
    color: var(--primary-color);
    font-size: 20px;
}
.text-card-news{
    margin-top: 3px;
    font-weight: bold;
}
.text-card-news p{
    font-size: 15px;
    font-weight: bold;
}
.text-card-news .date{
    color: var(--primary-color);
    font-size: 18px;
    margin-top: 3px;
}

/* -----------CERTIFICACIONES------------ */
.container-certifications{
    padding: 30px 0 60px 0;
    height: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.subcontainer-certifications{
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title-certifications{
    width: 1200px;
    display: flex;
    justify-content: center;
}
.title-certifications h2{ /* ESTO ES PARA AÑADIR LAS LINEAS LATERALES AL TITULO */
    display: inline-block;
    position: relative;
    color: var(--primary-color);
    font-size: 60px;
} 
.title-certifications h2::after, .title-certifications h2::before{ /* ESTO ES PARA AÑADIR LAS LINEAS LATERALES AL TITULO */
    content: '';
    position: absolute;
    width: 260px;
    height: 1px;
    background-color: #000;

    top: 50%;
}
.title-certifications h2::before{
    left: -280px;
    
}
.title-certifications h2::after{
    right: -280px;
}
.img-content{
    margin-top: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    width: 760px;
    height: 125px;
}
.btn-certifications{
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    cursor: pointer;
    outline: none;
}
.container-img-certifications{
    display: flex;
    justify-content: center;
}
.img-certi1{
   width: auto;
   height: 105px;
   transition: .5s ease transform;
   outline: none;
}
.img-certi2{
    width: auto;
   height: 105px;
   transition: .5s ease transform;
   outline: none;
}
.img-certi3{
    width: 105px;
    height: auto;
    transition: .5s ease transform;
    outline: none;
}
.img-certi4{
    width: 105px;
    height: auto;
    transition: .5s ease transform;
    outline: none;
}
.img-certi5{
    width: 105px;
    height: auto;
    transition: .5s ease transform;
    outline: none;
}
.img-certi6{
    width: 105px;
    height: auto;
    transition: .5s ease transform;
    outline: none;
}
.img-certi1:hover, .img-certi2:hover, .img-certi3:hover, .img-certi4:hover, .img-certi5:hover, .img-certi6:hover{
    transform: scale(1.2);
}

/*-----------POPUP------------*/
.overlay1, .overlay2, .overlay3, .overlay4, .overlay5, .overlay6 {
	background: rgb(0, 0, 0, .3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
    z-index: 2;
	visibility: hidden;
}
.overlay1.active, .overlay2.active, .overlay3.active, .overlay4.active, .overlay5.active, .overlay6.active{
    visibility: visible;
}
.popup1, .popup2, .popup3, .popup4, .popup5, .popup6{
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    border-radius: 5px;
    width: 1200px;
    height: 600px;
    padding: 15px;
    display: flex;

    /*PARA ANIMACION*/
    transition: .3s ease all;
    transform: scale(0.7);
    opacity: 0;   
}
.popup1 .btn-cerrar-popup, .popup2 .btn-cerrar-popup, .popup3 .btn-cerrar-popup, .popup4 .btn-cerrar-popup, .popup5 .btn-cerrar-popup, .popup6 .btn-cerrar-popup {
	font-size: 20px;
	line-height: 20px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: var(--gray-color);
    height: 10px;
}
.popup1 .btn-cerrar-popup:hover, .popup2 .btn-cerrar-popup:hover, .popup3 .btn-cerrar-popup:hover, .popup4 .btn-cerrar-popup:hover, .popup5 .btn-cerrar-popup:hover, .popup6 .btn-cerrar-popup:hover {
    color: var(--primary-color);
}
.cont-img{
    width: 470px;
    height: 570px;
    border: 1px solid #000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-color);
}
.img-certificado-height{
    height: 90%;
}
.img-certificado-width{
    width: 90%;
}
.cont-text{
    width: 680px;
    overflow: hidden;
    margin-left: 15px;
}
.title-certi{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 40px;
    padding-bottom: 15px;
    color: var(--primary-color);
}
.text-certi{
    font-size: 20px;
}


/*------------ANIMACIONES POPUP-------------*/
.popup1.active, .popup2.active, .popup3.active, .popup4.active, .popup5.active, .popup6.active{
    opacity: 1;
    transform: scale(1);
}