/* LAS CLASES MAS USADAS SE ENCUENTRAN EN VARIABLES.CSS */

/*-----------------OVERLAY DE INICIO----------*/
.overlayhome{
	background: rgb(0, 0, 0, .3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
    z-index: 10;
}
.overlayhome.cerrar{
    opacity: 0;
    transition: opacity ease-in .3s;
}
.popuphome.cerrar{
    transform: scale(0.7);
    transition: transform ease-in .3s;
}
.popuphome{
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    border-radius: 5px;
    width: 700px;
    height: auto;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.popuphome .btn-cerrar-popuphome{
	font-size: 30px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: var(--second-gray-color);
    width: fit-content;
    float: right !important;
    height: 0px;
}
.popuphome .btn-cerrar-popuphome:hover{
    color: var(--primary-color);
}

.title-popup{
    font-size: 60px;
    text-align: center;
    padding-bottom: 10px;
}
.text-popup{
    font-size: 24px;
    margin: 0 30px;
}


/*---------------------HEADER--------------------*/
.container-head{
    background-image: url(https://i.postimg.cc/d3YfBrc6/fondo1.png);
    background-size: cover;
    height: 100vh;
    position: relative;
}
.container-head::after{ 
    content: '';
    position: absolute;
    background-color: #1d2413;;
    opacity: 0.5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.container-navbar{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    height: 110px;
    position: relative;
    z-index: 2;
}
.logo-header{
    height: 90px;
}
.menu-expand-head{
    display: none;
    color: #fff;
    font-size: 34px;
}
.nav-bar{
    display: flex;
    align-items: center;
    height: 90px;
}
.nav-bar ul{
    list-style: none;
    display: flex;
    align-items: center;
}
.list-navbar p, .list-navbar a{
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    outline: none;
    margin-left: 40px;
}
.list-navbar p{
    cursor: pointer;
    user-select: none;
}
.container-products-menu{
    display: flex;
    align-items: center;
}
.container-products-menu i{
    color: #fff;
    font-size: 24px;
    padding-left: 8px;
    cursor: pointer;
}
.container-products-menu i:hover{
    color: var(--gray-color);
}
.list-navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.products-list{
    visibility: hidden;
    position: relative;
    top: -40px;
    bottom: 0;
    right: 0;
    left: 665px;
    z-index: 3;
    width: 280px;
}
.products-list.active{
    visibility: visible;
}
.subproducts-list{
    display: flex;
    flex-direction: column;;
    background-color: rgb(255, 255, 255, 1);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 280px;
    justify-content: center;
    margin: 5px 0;
}
.subproducts-list a{
    text-decoration: none;
    font-size: 20px;
    list-style: none;
    padding: 10px 0px 10px 40px;
    text-decoration: none;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    
    position: relative;
}
.subproducts-list a:hover{
    color: var(--secundary-color);
}
.subproducts-list li::after{
    content: " ";
    position: absolute;
    background-color: var(--secundary-color);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top: 17px;
    bottom: 0;
    left: 15px;
    right: 0;
}
.container-text-header{
    position: absolute;
    top: 110px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    color: #fff;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title-header{
    width: 700px;
    margin: 0 auto;
}
.title-header h1{
    font-size: 60px;
    text-align: center;
}
.subtext-header{
    padding: 10px 0px;
}
.subtext-header h2{
    font-size: 24px;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

/*--------------WE ARE-----------------*/
.container-weare{
    margin: 30px 0;
    display: flex;
    justify-content: center;
}
.subcontainer-weare{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-img-weare{
    width: 270px;
    display: flex;
    justify-content: start;
}
.img-weare{
    width: 80%;
}
.container-information-weare{
    width: 100%;
    display: flex;
    justify-content: center;
}
.information-weare{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-weare{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-weare h1{
    font-size: 60px;
    color: var(--secundary-color);
    margin-right: 12px;
}
.text-weare{
    font-size: 24px;
    padding: 30px 0;
    text-align: center;
}


/*---------------RECOMENDATIONS-----------------*/
.extension, .extension-rotated{
    background-color: var(--gray-color);
    width: 100%;
}
.extension-responsive, .extension-rotated-responsive{
    display: none !important;
}
.container-recommendations{
    background-color: var(--gray-color);
    display: flex;
    justify-content: center;
    width: 100%;
}
.subcontainer-recommendations{
    width: 100%;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-recommendations{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.title-recommendations img{
    margin-right: 10px;
}
.title-recommendations h1{
    font-size: 60px;
    color: var(--primary-color);
}
.container-products-recommends{
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    width: 1200px;
}
.product-recommend{
    width: 275px;
    height: 400px;
    background-color: #fff;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
}
.product-recommend a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
   transition: opacity .3s ease-in;
}
.product-recommend img{
    width: 255px;
    height: 380px;
    position: absolute;
    transition: opacity .3s ease-in;
}
.product-recommend a .top:hover{
    opacity: 0;
}
.subcontainer-recommendations button{
    margin-top: 30px;
}

/*------------------NEWS-----------*/
.container-news{
    display: flex;
    justify-content: center;
}
.subcontainer-news{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.container-information-news{
    width: 730px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-news{
    display: flex;
    align-items: center;
    justify-content: center;
}
.title-news img{
    padding-right: 10px;
}
.title-news h1{
    color: var(--primary-color);
    font-size: 60px;
}
.text-news{
    padding: 30px 0;
}
.text-news p{
    text-align: center;
    font-size: 24px;
}
.container-card-news{
    width: 350px;
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
}
.container-imgcard-news{
    display: flex;
    width: 100%;
    height: 250px;
}
.imgcard-news{
    width: 100%;
    height: 100%;
}
.container-textcard-news{
    padding-top: 2px;
}
.title-card-news h4{
    color: var(--primary-color);
    font-size: 20px;
}
.text-card-news{
    margin-top: 3px;
    font-weight: bold;
}
.text-card-news p{
    font-size: 15px;
    font-weight: bold;
}
.text-card-news .date{
    color: var(--primary-color);
    font-size: 18px;
    margin-top: 3px;
}

/* -----------CERTIFICACIONES------------ */
.container-certifications{
    padding: 30px 0 60px 0;
    height: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.subcontainer-certifications{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-certifications{
    width: 100%;
    display: flex;
    justify-content: center;
}
.title-certifications h2{ /* ESTO ES PARA AÑADIR LAS LINEAS LATERALES AL TITULO */
    display: inline-block;
    position: relative;
    color: var(--primary-color);
    font-size: 60px;
    margin-bottom: 30px;
} 
.title-certifications h2::after, .title-certifications h2::before{ /* ESTO ES PARA AÑADIR LAS LINEAS LATERALES AL TITULO */
    content: '';
    position: absolute;
    width: 260px;
    height: 1px;
    background-color: #000;

    top: 50%;
}
.title-certifications h2::before{
    left: -280px;  
}
.title-certifications h2::after{
    right: -280px;
}
.container-img-certifications{
    display: flex;
    justify-content: center;
}
.container-img-certifications{
    display: flex;
    justify-content: center;
}
.img-content{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center ;
    width: 1000px;
    height: fit-content;
    gap: 35px;
    flex-wrap: wrap;
}
.btn-certifications{
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    cursor: pointer;
    outline: none;
    transform: scale(1);
    transition: .5s ease transform;
}
.btn-certifications:hover{
    transition: transform .5s ease;
    transform: scale(1.2);
}
.btn-slider{
    display: none !important;
}
.btn-left{
    color: var(--primary-color);
}
.btn-right{
    color: var(--primary-color);
}
.img-certi1{
   width: auto;
   height: 105px;
   outline: none;
}
.img-certi2{
    width: auto;
   height: 105px;
   outline: none;
}
.img-certi3{
    width: 105px;
    height: auto;
    outline: none;
}
.img-certi4{
    width: 105px;
    height: auto;
    outline: none;
}
.img-certi5{
    width: 105px;
    height: auto;
    outline: none;
}
.img-certi6{
    width: 105px;
    height: auto;
    outline: none;
}


/*-----------POPUP------------*/
.overlay1, .overlay2, .overlay3, .overlay4, .overlay5, .overlay6 {
	background: rgb(0, 0, 0, .3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
    z-index: 2;
	visibility: hidden;
}
.overlay1.active, .overlay2.active, .overlay3.active, .overlay4.active, .overlay5.active, .overlay6.active{
    visibility: visible;
}
.popup1, .popup2, .popup3, .popup4, .popup5, .popup6{
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    border-radius: 5px;
    width: 1200px;
    height: 600px;
    padding: 15px;
    display: flex;
    justify-content: space-between;

    /*PARA ANIMACION*/
    transition: .3s ease all;
    transform: scale(0.7);
    opacity: 0;
}
.popup1.active, .popup2.active, .popup3.active, .popup4.active, .popup5.active, .popup6.active{
    opacity: 1;
    transform: scale(1);
}
.popup1 .btn-cerrar-popup, .popup2 .btn-cerrar-popup, .popup3 .btn-cerrar-popup, .popup4 .btn-cerrar-popup, .popup5 .btn-cerrar-popup, .popup6 .btn-cerrar-popup {
	font-size: 20px;
	line-height: 20px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: var(--gray-color);
    height: 10px;
}
.popup1 .btn-cerrar-popup:hover, .popup2 .btn-cerrar-popup:hover, .popup3 .btn-cerrar-popup:hover, .popup4 .btn-cerrar-popup:hover, .popup5 .btn-cerrar-popup:hover, .popup6 .btn-cerrar-popup:hover {
    color: var(--primary-color);
}
.cont-img{
    width: 470px;
    height: 570px;
    border: 1px solid #000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-color);
}
.img-certificado-height{
    height: 90%;
}
.img-certificado-width{
    width: 90%;
}
.cont-text{
    width: 680px;
    overflow: hidden;
    margin-left: 15px;
}
.title-certi{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 40px;
    padding-bottom: 15px;
    color: var(--primary-color);
}
.text-certi{
    font-size: 20px;
}



/*----------RESPONSIVE MOBILE VERSION--------*/
@media only screen and (max-width: 540px){

    .popuphome{
        width: 350px;
        height: auto;
        padding: 15px;
    }
    .title-popup{
        font-size: 34px;
        text-align: center;
        padding-bottom: 15px;
    }
    .text-popup{
        font-size: 24px;
        margin: 0 30px;
        /* padding-bottom: 30px; */
    }

    .img-title{
        height: 80px !important;
    }

    /*HEADER*/
    .container{
        width: 100%;
    }
    .container-navbar{
        width: 100%;
        padding: 0 10px;
    }
    .nav-bar{
        display: none;
    }
    .products-list{
        display: none;
    }
    .menu-expand-head{
        display: block;
    }
    .title-header{
        width: 350px;
    }
    .title-header h1{
        font-size: 40px;
    }
    .subtext-header{
        width: 350px;
    }
    .subtext-header h2{
        font-size: 20px;
    }

    /*WE ARE*/
    .subcontainer-weare{
        width: 350px;     
    }
    .container-img-weare{
        display: none;
    }
    .information-weare{
        width: 350px;
    }
    .title-weare h1{
        font-size: 34px;
        margin-right: 5px;
    }
    .text-weare p{
        font-size: 20px;
    }

    /*RECOMMENDS*/
    .extension, .extension-rotated{
        display: none !important;
    }
    .extension-responsive, .extension-rotated-responsive{
        display: block !important;
    }
    .subcontainer-recommendations{
        width: 350px;
    }
    .title-recommendations{
        flex-direction: column;
    }
    .title-recommendations img{
        margin: 0;
    }
    .title-recommendations h1{
        font-size: 34px;
    }
    .container-products-recommends{
        width: 350px;
    }
    .product-recommend{
        width: 165px;
        height: 240px;
    }
    .product-recommend img{
        width: 145px;
        height: 220px;
    }

    /*NEWS*/
    .subcontainer-news{
        width: 350px;
    }
    .container-card-news{
        display: none;
    }
    .title-news img{
        margin-right: 5px;
        padding: 0;
    }
    .title-news h1{
        font-size: 34px;
    }
    .text-news p{
        font-size: 20px;
    }

    /*CERTIFICATIONS*/
    .container-certifications{
        padding: 30px 0;
    }
    .title-certifications{
        width: 350px;
    }
    .title-certifications h2{
        font-size: 34px;
        margin: 0;
    }
    .title-certifications h2::after, .title-certifications h2::before{
        display: none;
    }
    .container-img-certifications{
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        align-items: center;
    }
    .subcontainer-img-certifications{
        width: 330px;
        overflow-x: hidden;
    }
    .img-content{
        display: flex;
        /*DEPENDIENDO DE CUANTAS CERTIFICAIONES HAYA, ASI MISMO TOCA VARIAR ESTE TAMAÑO*/
        width: 300%;
        margin-left: -165px;
        gap: 15px;
        height: 180px;
        align-items: center;
        flex-wrap: nowrap;
    }
    .btn-certifications{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        border: 2px solid var(--gray-color);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        background-color: #fff;
        margin: 0;
        padding: 0;
        cursor: pointer;
        outline: none;
        width: 150px;
        height: 125px;
    }
    .btn-slider{
        display: block !important;
        position: absolute;
        top: 50%;
        width: 40px;
        height: 40px;
        font-size: 40px;
        transform: translateY(-50%);
        text-align: center;
        cursor: pointer;     
    }
    .btn-left{
        left: 0px;
        -webkit-tap-highlight-color: transparent;
    }
    .btn-right{
        right: 0px;
        -webkit-tap-highlight-color: transparent;
    }
    .img-certi1{
        height: 80px;
    }
    .img-certi2{
        height: 80px;
    }
    .img-certi3{
        width: 80px;
    }
    .img-certi4{
        width: 80px;
    }
    .img-certi5{
        width: 80px;
    }
    .img-certi6{
        width: 80px;
    }
    .popup1, .popup2, .popup3, .popup4, .popup5, .popup6{
        height: 600px;
        width: 80%;
        display: flex;
        flex-direction: column-reverse !important;
    }
    .cont-img{
        width: 100%;
        height: 250px;
    }
    .cont-text{
        width: 100%;
        margin: 0;
    }
    .title-certi{
        font-size: 34px;
        padding-bottom: 5px;
    }
    .text-certi{
        font-size: 18px;
        width: 100%;
        height: 235px;
        overflow-y: scroll;
    }
    .img-certificado-height{
        height: 80%;
    }
    .img-certificado-width{
        width: 70%;
    }
    .popup1 .btn-cerrar-popup, .popup2 .btn-cerrar-popup, .popup3 .btn-cerrar-popup, .popup4 .btn-cerrar-popup, .popup5 .btn-cerrar-popup, .popup6 .btn-cerrar-popup {
        height: 20px;
        -webkit-tap-highlight-color: transparent;
    }
    .footer{
        height: 678px !important;
        background-color: #1d2413;
    }
    .footer-import{
        height: 678px !important;
        background-color: #6aa814;
    }
}

/*----------RESPONSIVE MOBILE 2----------*/
@media only screen and (width: 540px){
    .btn-left{
        left: 40px;
    }
    .btn-right{
        right: 40px;
    }
    .img-certificado-width{
        width: 50%;
    }

    .footer{
        height: 657px !important;
        background-color: #1d2413;
    }
    .footer-import{
        height: 657px !important;
        background-color: #6aa814;
    }
}


/*----------RESPONSIVE MOBILE VERSION (FOLD)----------*/
@media only screen and (width: 280px){

    .popuphome{
        width: 260px;
        height: auto;
        padding: 15px;
    }
    .popuphome .btn-cerrar-popuphome{
        font-size: 24px;
    }
    .title-popup{
        font-size: 24px;
        text-align: center;
        padding-bottom: 15px;
    }
    .text-popup{
        font-size: 18px;
        margin: 0 30px;
        /* padding-bottom: 30px; */
    }

    /*HEADER*/
    .logo-header{
        height: 80px;
    }
    .menu-expand-head{
        font-size: 30px;
    }
    .title-header{
        width: 260px;
    }
    .title-header h1{
        font-size: 34px;
    }
    .subtext-header{
        width: 260px;
    }
    .btn-fruandes{
        height: 50px !important;
        width: 200px !important;
        font-size: 15px !important;
    }

    /*WE ARE*/
    .information-weare{
        width: 260px;
    }
    .title-weare{
        flex-direction: column;
    }
    .title-weare h1{
        margin: 0;
        font-size: 30px;
    }
    .title-weare img{
        height: 60px !important;
    }
    .text-weare{
        padding: 15px 0;
    }
    .text-weare p{
        font-size: 18px;
    }

    /*RECOMMENDS*/
    .subcontainer-recommendations{
        width: 260px;
    }
    .title-recommendations img{
        height: 60px !important;
    }
    .title-recommendations h1{
       font-size: 24px;
    }
    .container-products-recommends{
        display: flex;
        flex-direction: none;
        width: 100%;
        gap: 15px;
    }
    .product-recommend{
        width: 120px;
        height: 165px;
    }
    .product-recommend img{
        width: 100px;
        height: 145px;
    }

    /*NEWS*/
    .subcontainer-news{
        width: 260px;
    }
    .title-news img{
        height: 60px !important;
    }
    .title-news h1{
        font-size: 30px;
    }
    .text-news{
        padding: 15px 0;
    }
    .text-news p{
        font-size: 18px;
    }

    /*CERTIFICATION*/
    .subcontainer-certifications{
        width: 260px;
    }
    .title-certifications{
        width: 100%;
    }
    .title-certifications h2{
        font-size: 30px !important;
    }
    .subcontainer-img-certifications{
        margin-top: 10px;
        width: 180px;
    }
    .img-content{
        height: 130px;
        width: 655% !important;
        margin-left: -200px;
        gap: 20px !important;
    } 
    .btn-certifications{
        height: 110px;
        width: 180px !important;
        margin-left: 0 !important;
    }
    .popup1, .popup2, .popup3, .popup4, .popup5, .popup6{
        height: 400px;
        width: 80%;
        display: flex;
        flex-direction: column-reverse !important;
    }
    .cont-img{
        height: 150px;
    }
    .cont-text h1{
        font-size: 24px;
    }
    .cont-text p{
        font-size: 15px;
    }
    .cont-text a{
        height: 18px !important;
    }
    .text-certi{
        height: 155px;
        width: 100%;
    }
    .img-certificado-width{
        width: 60% !important;
    }

    .footer{
        height: 672px !important;
        background-color: #1d2413;
    }
    .footer-import{
        height: 672px !important;
        background-color: #6aa814;
    }
}


/*------RESPONSIVE TABLET VERSION-------*/
@media only screen and (min-width: 541px) and (max-width: 1199px){

    /*HEADER*/
    .container{
        width: 100%;
    }
    .container-navbar{
        width: 100%;
        padding: 0 10px;
    }
    .nav-bar{
        display: none;
    }
    .products-list{
        display: none;
    }
    .menu-expand-head{
        display: block;
    }

    /*WE ARE*/
    .subcontainer-weare{
        width: 700px;
    }
    .container-img-weare{
        display: none;
    }

    /*RECOMMENDS*/
    .subcontainer-recommendations{
        width: 700px;
        overflow-x: hidden;
    }
    .title-recommendations{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .title-recommendations img{
        margin: 0;
    }
    .container-products-recommends{
        width: 700px;
    }
    .product-recommend{
        width: 165px;
        height: 240px;
    }
    .product-recommend img{
        width: 145px;
        height: 220px;
    }

    /*NEWS*/
    .subcontainer-news{
        width: 700px;
        justify-content: center;
    }
    .container-card-news{
        display: none;
    }
    .container-information-news{
        width: 700px;
    }

    /*CERTIFICATIONS*/
    .title-certifications h2::after, .title-certifications h2::before{
        display: none;
    }
    .subcontainer-img-certifications{
        width: 700px;
        display: flex;
        justify-content: center;
    }
    .popup1, .popup2, .popup3, .popup4, .popup5, .popup6{
        width: 650px !important;
        height: 500px !important;
    }
    .cont-img{
        height: 100%;
    }
    .img-certificado-height{
        height: 70% !important;
    }
    .text-certi{
        overflow-y: scroll;
        height: 400px;
    }
}




/*-----------FOOTERS---------*/
@media only screen and (width: 1024px){
    .footer{
        height: 295px !important;
        background-color: #1d2413;
    }
    .footer-import{
        height: 295px !important;
        background-color: #6aa814;
    }
}