
/* HEADER */
.container-head{
    background-color: #fff;
}
.container-navbar{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    height: 110px;
    position: relative;
    z-index: 2;
}
.logo{
    height: 90px;
}
.nav-bar{
    display: flex;
    align-items: center;
    height: 90px;
}
.nav-bar ul{
    list-style: none;
    display: flex;
    align-items: center;
}
.list-navbar p, .list-navbar a{
    color: var(--primary-color);
    text-decoration: none;
    font-size: 24px;
    outline: none;
    margin-left: 40px;
}
.list-navbar p{
    cursor: pointer;
    user-select: none;
}
.container-products-menu{
    display: flex;
    align-items: center;
}
.container-products-menu i{
    color: var(--primary-color);
    font-size: 24px;
    padding-left: 8px;
    cursor: pointer;
}
.container-products-menu i:hover{
    color: var(--secundary-color);
}
.list-navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.products-list-head{
    visibility: hidden;
    position: absolute;
    top: 70px;
    bottom: 0;
    right: 0;
    left: 665px;
    z-index: 3;
    width: 280px;
}
.products-list-head.active{
    visibility: visible;
}
.subproducts-list{
    display: flex;
    flex-direction: column;;
    background-color: rgb(255, 255, 255, 1);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 280px;
    justify-content: center;
    margin: 5px 0;
}
.subproducts-list a{
    text-decoration: none;
    font-size: 20px;
    list-style: none;
    padding: 10px 0px 10px 40px;
    text-decoration: none;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    
    position: relative;
}
.subproducts-list a:hover{
    color: var(--secundary-color);
}
.subproducts-list li::after{
    content: " ";
    position: absolute;
    background-color: var(--secundary-color);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top: 17px;
    bottom: 0;
    left: 15px;
    right: 0;
}
.logo{
    height: 90px;
}

/* .container-img{
    height: 310px;
} */
.container-img{
    background-image: url('https://i.postimg.cc/fWFkvQ5J/fondo3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 310px;
    width: 100%;

    position: relative;
}
.container-img::after{ 
    content: '';
    position: absolute;
    background-color: var(--primary-color);
    opacity: 0.5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.extension{
    height: 60px;
    width: 100%;
    position: relative;
    z-index: 1;
}
