
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

*, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .container{
    background: #fff;
    width: 100%;
    height: 100%;
} */

:root{
    --primary-color: #333e21;
    --secundary-color: #a49d34;
    --footer-color: #d7d7d7;
    --gray-color: #d7d7d7;
    --second-gray-color: #a7a7a7;
    --orange-color: #e08f26;
    --goldenberry-color: #e08f26;
    --banana-color: #f4d127;
    --canesugar-color: #caa230;
    --cocoa-color: #a0d9d7;
    --dragonfruit-color: #f05552;
    --mango-color: #aad03c;
    --pineapple-color: #faab20;
}

.raleway300{ /*TIPO DE LETRA*/
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}
.raleway400{ /*TIPO DE LETRA*/
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
.raleway500{ /*TIPO DE LETRA*/
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
.raleway600{ /*TIPO DE LETRA*/
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
.raleway700{ /*TIPO DE LETRA*/
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.raleway800{ /*TIPO DE LETRA*/
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}
.raleway900{ /*TIPO DE LETRA*/
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

.baloo400{
    font-family: 'Baloo 2', cursive;
    font-weight: 400;
}
.baloo500{
    font-family: 'Baloo 2', cursive;
    font-weight: 500;
}
.baloo600{
    font-family: 'Baloo 2', cursive;
    font-weight: 600;
}
.baloo700{
    font-family: 'Baloo 2', cursive;
    font-weight: 700;
}
.baloo800{
    font-family: 'Baloo 2', cursive;
    font-weight: 800;
}

.right{
    float: right;
    
}
.left{
    float: left;
}

.logo{
    outline: none;
}
a{
    outline: none;
}
.extension{
    width: 100%;
    height: 60px;
    display: flex;
}
.extension-rotated{
    display: flex;
    height: 60px;
    width: 100%;
    transform:rotate(180deg)
}

/* ---------------------FOOTER-------------- */
.footer{
    position: relative;
    height: 275px !important;
}
.footer-import{
    position: absolute;
    width: 100% !important;
    height: 100%;
}


/* --------------------HEADER------------------------ */
.header{
    height: 424px !important;
}
.header-import{
    width: 100% !important;
    height: 100%;
}

.header-fruit{
    height: 245px !important;
}
.header-import-fruit{
    width: 100%;
    /* height: 100%; */
    height: 100%;
}
