<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9c92b85ed8.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/variables.css">
    <link rel="stylesheet" href="../css/style-footer.css">
    <title>Fruandes</title>
</head>
<body>
    <footer class="footer">
        <div class="container-footer">
            <div class="col1">
                <img loading="lazy" src="https://i.postimg.cc/sXYMqdbz/logo-fruandes.png" alt="" class="logo-footer">
                <a href="mailto:info@fruandes.co">
                    <p class="raleway500">info@fruandes.co</p>
                </a>
                <a href="tel:+573214002783">
                    <p class="raleway500">(+57) 321 4002 783</p>
                </a>
                <p class="raleway500">Vía Ibagué - Espinal, Parque Empresarial Strategik, Km 11</p>
                <p class="raleway500">Ibagué - Tolima</p>
                <div class="icon-footer">
                    <div class="facebook">
                        <a href="https://www.facebook.com/Fruandes/" target="_blank" onclick="cambiar()">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </div>
                    <div class="instagram">
                        <a href="https://www.instagram.com/fruandes/" target="_blank">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </div>
                    <div class="linkedin">
                        <a href="https://www.linkedin.com/company/fruandes/" target="_blank">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col2">
                <h3 class="raleway700">SITE MAP</h3>
                <a href="../shop" target="_parent">
                    <p class="raleway500">Shop</p>
                </a>
                <a href="../about-us" target="_parent">
                    <p class="raleway500">About us</p>
                </a>
                <a href="../blog" target="_parent">
                    <p class="raleway500">Blog</p>
                </a>
            </div>
            <div class="col3">
                <h3 class="raleway700">USER INFORMATION</h3>
                <a href="#"><p class="raleway500" target="_parent">Privacy policies</p></a>
                <a href="#"><p class="raleway500" target="_parent">Terms & conditions</p></a>
                <a href="../contact-us" target="_parent"><p class="raleway500">Contact us</p></a>
            </div>
            <div class="col4">
                <h3 class="raleway700">NEWSLETTER</h3>   
                <p class="raleway500">Receive exclusive information about our farmers and the Fruandes Community</p>
                <form action="" class="newsletter-container">
                    <div class="container-input">
                        <i class="fa-solid fa-envelope"></i>
                        <input class="newsletter-input raleway500" type="email"  name="email-newsletter" placeholder="Enter your email addres">
                    </div>
                    <button class="newsletter-button raleway500 type="submit>SUBSCRIBE</button>
                </form>
            </div>
        </div>
    </footer>

    <script>
        // $("head").load("../css/style-footer.css");
        $('head').append( $('<link rel="stylesheet" href="../css/style-footer.css" type="text/css" />'))
    </script>
</body>
</html>