<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9c92b85ed8.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://danielm2003.github.io/Fruandes-test/css/variables.css">
    <link rel="stylesheet" href="https://danielm2003.github.io/Fruandes-test/css/style-header.css">
    <title>Fruandes</title>
</head>
<body>

    <div class="container-menu-expand disabled" id="container-menu-expand">
        <ul>
            <li>products
                <ul class="subproducts-list">
                    <a href="../products/banana">
                        <li class="raleway500">Banana</li>
                    </a>
                    <a href="../products/cane-sugar">
                        <li class="raleway500">Cane Sugar</li>
                    </a>
                    <a href="../products/cocoa">
                        <li class="raleway500">Cocoa</li>
                    </a>
                    <a href="../products/dragon-fruit">
                        <li class="raleway500">Dragon Fruit</li>
                    </a>
                    <a href="../products/goldenberry">
                        <li class=" raleway500">Goldenberry</li>
                    </a>
                    <a href="../products/mango">
                        <li class="raleway500">Mango</li>
                    </a>
                    <a href="../products/pineapple">
                        <li class="raleway500">Pineapple</li>
                    </a>
                </ul> 
            </li>
            <li>
                <a href="../shop" target="_parent">shop</a>
            </li>
            <li>
                <a href="../about-us" target="_parent">about-us</a>
            </li>
            <li>
                <a href="../blog" target="_parent">blog</a>
            </li>
            <li>
                <a href="../contact-us" target="_parent">contact-us</a>
            </li>
        </ul>
    </div>

    <section class="container-head-responsive">
        <div class="container-navbar">
            <a href="../index" target="_parent">
                <img loading="lazy" src="https://i.postimg.cc/sXYMqdbz/logo-fruandes.png" alt="logo-header" class="logo-header">
            </a>
            <i class="fa-solid fa-bars menu-expand-head" id="menu-expand-head" onclick="menuExpand()"></i>
        </div>
    </section>
    <img loading="lazy" src="https://i.postimg.cc/ZK38m23W/header-extension2-responsive.png" alt="extension" class="extension-responsive">

    <section class="container-head">
        <div class="container-navbar">
            <a href="../index" target="_parent">
                <img loading="lazy" src="https://i.postimg.cc/sXYMqdbz/logo-fruandes.png" alt="" class="logo">
            </a>
            <nav class="nav-bar">
                <ul class="list-navbar">
                    <li class="container-products-menu">
                        <p class="raleway700" onclick="abrirMenu2()">PRODUCTS</p>
                        <i class="fa-solid fa-caret-down" id="button-menu-products" onclick="abrirMenu2()"></i>
                    </li>
                    <li><a class="raleway700" href="../shop" target="_parent">SHOP</a></li>
                    <li><a class="raleway700" href="../about-us" target="_parent">ABOUT US</a></li>
                    <li><a class="raleway700" href="../blog" target="_parent">BLOG</a></li>
                    <li><a class="raleway700" href="../contact-us" target="_parent">CONTACT US</a></li>
                </ul>
            </nav>
        </div>
        <div class="container-img">
            <img loading="lazy" src="https://i.postimg.cc/3rzXPYyM/header-extension.png" alt="" class="extension-header">
        </div>
        <div class="products-list-head" id="menu-products">
            <ul class="subproducts-list">
                <a href="../products/banana"  target="_parent">
                    <li class="raleway500">Banana</li>
                </a>
                <a href="../products/cane-sugar"  target="_parent">
                    <li class="raleway500">Cane Sugar</li>
                </a>
                <a href="../products/cocoa"  target="_parent">
                    <li class="raleway500">Cocoa</li>
                </a>
                <a href="../products/dragon-fruit"  target="_parent">
                    <li class="raleway500">Dragon Fruit</li>
                </a>
                <a href="../products/goldenberry" target="_parent">
                    <li class=" raleway500">Goldenberry</li>
                </a>
                <a href="../products/mango"  target="_parent">
                    <li class="raleway500">Mango</li>
                </a>
                <a href="../products/pineapple"  target="_parent">
                    <li class="raleway500">Pineapple</li>
                </a>
            </ul> 
        </div>
    </section>

    <script src="../js/menu-header.js"></script>
</body>
</html>