<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9c92b85ed8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/variables.css">
    <link rel="stylesheet" href="../css/style-header.css">
    <title>Fruandes</title>
</head>
<body>
    
    <section class="container-head">
        <div class="container-navbar">
            <a href="../index.html" target="_parent">
                <img loading="lazy" src="/img/logo-fruandes.png" alt="" class="logo">
            </a>
            <nav class="nav-bar">
                <ul class="list-navbar">
                    <li class="container-products-menu">
                        <p class="raleway700" onclick="abrirMenu2()">PRODUCTS</p>
                        <i class="fa-solid fa-caret-down" id="button-menu-products" onclick="abrirMenu2()"></i>
                    </li>
                    <li>
                        <a class="raleway700" href="../shop.html" target="_parent">SHOP</a>
                    </li>
                    <li>
                        <a class="raleway700" href="../about-us.html" target="_parent">ABOUT US</a>
                    </li>
                    <li>
                        <a class="raleway700" href="../blog.html" target="_parent">BLOG</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="container-img">
            <img loading="lazy" src="../img/header-extension.png" alt="" class="extension">
        </div>
        <div class="products-list-head" id="menu-products">
            <ul class="subproducts-list">
                <a href="../products/banana.html"  target="_parent">
                    <li class="raleway500">Banana</li>
                </a>
                <a href="../products/cane-sugar.html"  target="_parent">
                    <li class="raleway500">Cane Sugar</li>
                </a>
                <a href="../products/cocoa.html"  target="_parent">
                    <li class="raleway500">Cocoa</li>
                </a>
                <a href="../products/dragon-fruit.html"  target="_parent">
                    <li class="raleway500">Dragon Fruit</li>
                </a>
                <a href="../products/goldenberry.html" target="_parent">
                    <li class=" raleway500">Goldenberry</li>
                </a>
                <a href="../products/mango.html"  target="_parent">
                    <li class="raleway500">Mango</li>
                </a>
                <a href="../products/pineapple.html"  target="_parent">
                    <li class="raleway500">Pineapple</li>
                </a>
            </ul> 
        </div>
    </section>

    <script src="../app.js"></script>
</body>
</html>