<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/recommend-articles.css">
    <link rel="stylesheet" href="../css/variables.css">
    <title>Document</title>
</head>
<body>
    <section class="container-content-blog">
        <div class="subcontainer-content-blog">
            <div class="content-latest-articles">
                <h1 class="raleway800">LATEST ARTICLES</h1>
                <a class="latest-article" href="../blog/organic-agriculture-how-earthworms-work-tirelessly-to-improve-organic-soil" target="_parent">
                    <div class="img-article">
                        <img src="https://i.postimg.cc/ht268XjW/blog5.jpg" alt="">
                    </div>
                    <div class="title-article">
                        <h3 class="raleway800">Organic Agriculture: How Earthworms Work Tirelessly to Improve Organic Soil</h3>
                    </div>
                </a>
                <a class="latest-article" href="../blog/our-organic-and-fair-frade-cacao-project-in-uraba-colombia" target="_parent">
                    <div class="img-article">
                        <img src="https://i.postimg.cc/9fSkSsZL/blog4.jpg" alt="">
                    </div>
                    <div class="title-article">
                        <h3 class="raleway800">Our Organic and Fair Trade Cacao Project in Urabá, Colombi.</h3>
                    </div>
                </a>
                <a class="latest-article" href="../blog/organic-agriculture-how-jesus-pigs-create-gas-and-fertilizer" target="_parent">
                    <div class="img-article">
                        <img src="https://i.postimg.cc/d0qWfwhR/blog3.jpg" alt="">
                    </div>
                    <div class="title-article">
                        <h3 class="raleway800">Organic Agriculture: How Jesus' Pigs Create Gas and Fertilizer</h3>
                    </div>
                </a>
                <a class="latest-article" href="../blog/happy-hour-at-fruandes" target="_parent">
                    <div class="img-article">
                        <img src="https://i.postimg.cc/hjzktKKF/blog2.jpg" alt="">
                    </div>
                    <div class="title-article">
                        <h3 class="raleway800">Happy Hour at Fruandes</h3>
                    </div>
                </a>
                <a class="latest-article" href="../blog/meet-our-farmers-guillermo-and-rocio" target="_parent">
                    <div class="img-article">
                        <img src="https://i.postimg.cc/pdTN3D7L/blog1.jpg" alt="">
                    </div>
                    <div class="title-article">
                        <h3 class="raleway800">Meet our Farmers: Guillermo and Rocio</h3>
                    </div>
                </a>
            </div>
        </div>
    </section>
</body>
</html>