<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/recommend-articles.css">
    <link rel="stylesheet" href="../css/variables.css">
    <title>Document</title>
</head>
<body>
    <section class="container-content-blog">
        <div class="subcontainer-content-blog">
            <div class="content-latest-articles">
                <h1 class="raleway800">LATEST ARTICLES</h1>
                <a class="latest-article" href="#">
                    <div class="img-article">
                        <img src="../img/blogs/blog5.jpg" alt="" width="100px">
                    </div>
                    <div class="title-article">
                        <h3 class="raleway800">Organic Agriculture: How Earthworms Work Tirelessly to Improve Organic Soil</h3>
                    </div>
                </a>
                <a class="latest-article" href="#">
                    <div class="img-article">
                        <img src="../img/blogs/blog4.jpg" alt="" width="100px">
                    </div>
                    <div class="title-article">
                        <h3 class="raleway800">Our Organic and Fair Trade Cacao Project in Urabá, Colombi.</h3>
                    </div>
                </a>
                <a class="latest-article" href="#">
                    <div class="img-article">
                        <img src="../img/blogs/blog3.jpg" alt="" width="100px">
                    </div>
                    <div class="title-article">
                        <h3 class="raleway800">Organic Agriculture: How Jesus' Pigs Create Gas and Fertilizer</h3>
                    </div>
                </a>
                <a class="latest-article" href="#">
                    <div class="img-article">
                        <img src="../img/blogs/blog1.jpg" alt="" width="100px">
                    </div>
                    <div class="title-article">
                        <h3 class="raleway800">Meet our Farmers: Guillermo and Rocio</h3>
                    </div>
                </a>
            </div>
        </div>
    </section>
</body>
</html>